# Python
__pycache__/
*.egg-info/
src/blaster.egg-info/
src/blaster/__pycache__/
*.pyc
.pytest_cache/
.ruff_cache/
uv.lock

# Compiled / native libs
*.so
*.pyd
.clang*

# Build
/build
/dist

# Local development environment
.venv
tests

# Swap files
*.swp

# Editor
.vscode/
.DS_Store
